- var headerLinks = [{text:"Бизнес",active:true},{text:"О нас",active:false},{text:"Цены",active:false},{text:"Оформить заказ",active:false}]
- var footerLinks = [{text:"Qiwi wallet",img:"img/qiwi.png"},{text:"Yandex Money",img:"img/yandex.png"},{text:"Web Money",img:"img/webmoney.png"}]
- var footerSocial = [{text:"info@ipsum228.com",img:"img/email.png"},{text:"Мы вконтакте",img:"img/vk.png"}]
- var orderingSteps = [{class: 'fa fa-search fa-2x',text: 'Lorem ipsum dolor sit amet', dots: true},{class: 'fa fa-percent fa-2x',text: 'Сonsecteturadipiscing elit',dots: true}, {class: 'fa fa-file-text-o fa-2x',text: 'Sed do eiusmod tempor',dots: true}, {class: 'fa fa-envelope-o fa-2x',text: 'Esse cillum dolore eu fugiat',dots: true},{class: 'fa fa-money fa-2x',text: 'Excepteur sint occaecat cupidatat non proident',dots: false}]
- var copy = "© 2018 «LoremIpsum.net» Все права защищены.";
- var options = ["Sed ut perspiciatis","Nemo enim ipsam","Et harum quidem","Temporibus autem","Itaque earum rerum","Sed ut perspiciatis","Nemo enim ipsam","Et harum quidem","Temporibus autem","Itaque earum rerum"]