.button {
    font-size: 13px;
    padding: 9px 20px;
    margin-bottom: 0;
    outline: none;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: box-shadow 0.2s;

    @media only screen and (max-width: $breakpoint-m - 1) {
        display: block;
        width: 100%;

        & + & {
            margin-top: 15px;
        } 
    }

    @include breakpoint(m) {
        min-width: 180px;
    }

    &__icon--left {
        margin-right: 18px;
    }
}
.button:focus,
.button:active:focus {
    outline: none;
}
.button:hover,
.button:focus {
    color: $greayDark;
    text-decoration: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
.button:active {
    background-image: none;
    outline: 0;
}

/* default
---------------------------- */
.button--default {
    &,
    &:focus,
    &:hover,
    &:active {
        color: $greayDark;
        background-color: $white;
        border-color: #6f6d7b;
    }
}

/* primary
---------------------------- */
.button--primary {
    &,
    &:focus,
    &:hover,
    &:active {
        color: $white;
        background-color: $secondary;
        border-color: $white;
    }
}

/* size
---------------------------- */
.button--l {
    font-size: 15px;
    height: 48px;
    width: 100%;
}
