// colors
$primary: #3d4050;
//$primaryLight: 
$primaryDark: #272733;

$secondary: #3e9cdc;
$secondaryLight: #43abf0;
$secondaryDark: #286690;

$white: #ffffff;
$lightGrey: #bbbbbb;
$greayDark: #2a2b30
